.Main {
    background-color: 'white'; 
    color: 'black'; 
    padding: '15px';
    flex: 1;
    overflow: 'auto';
    text-align: left;
}

.search-box {
    margin-top: 20px;
    margin-left: 20px;
}

.driver-table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    text-Align: 'left';
}

.driver-table th, .driver-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.driver-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.driver-table td {
    text-align: left;
}

.day {
    width: 40px;
    height: 40px;
    padding: 0px !important;
} 

.day-box {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}